[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
black = "*"
flake8 = "*"
mypy = "*"
pylint = "*"
pytest = "*"
django-countries = "*"
docker = "*"
docker-compose = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.9"
