[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-countries = "*"
psycopg2-binary = "*"
djangorestframework-simplejwt = "*"
django-filter = "*"
celery = "*"
redis = "*"

[dev-packages]
pylint = "*"
black = "*"
flake8 = "*"
mypy = "*"
pre-commit = "*"
django-stubs = {extras = ["compatible-mypy"], version = "*"}
djangorestframework-stubs = {extras = ["compatible-mypy"], version = "*"}
isort = {extras = ["pipfile_deprecated_finder"], version = "*"}
django-rest-swagger = "*"
drf-yasg = "*"
pytest-django = "*"
django-debug-toolbar = "*"
django-celery-results = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.9"
