[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-countries = "*"
psycopg2-binary = "*"

[dev-packages]
pylint = "*"
pytest = "*"
black = "*"
flake8 = "*"
mypy = "*"
pre-commit = "*"
django-stubs = {extras = ["compatible-mypy"], version = "*"}
djangorestframework-stubs = {extras = ["compatible-mypy"], version = "*"}
isort = {extras = ["pipfile_deprecated_finder"], version = "*"}

[requires]
python_version = "3.10"
python_full_version = "3.10.9"
